<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>
<!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"-->
<!--        tools:ignore="QueryAllPackagesPermission" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <queries>
        <!-- Конкретные приложения -->
        <package android:name="com.whatsapp"/>
        <package android:name="com.instagram.android"/>
        <package android:name="com.facebook.katana"/>

        <!-- Приложения с веб-браузерами -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>

        <!-- Приложения с email-клиентами -->
        <intent>
            <action android:name="android.intent.action.SEND"/>
            <data android:mimeType="message/rfc822"/>
        </intent>

        <!-- Приложения с поддержкой звонков -->
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:scheme="tel"/>
        </intent>

        <!-- Контент-провайдеры для доступа к данным (например, SMS, контакты) -->
        <provider android:authorities="com.android.contacts"/>
        <provider android:authorities="com.android.providers.telephony"/>
    </queries>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KidApp"
        tools:targetApi="31">

        <service
            android:name="com.example.kidapp.services.AccessibilityKidService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name="com.example.kidapp.services.UsageKidService"
            android:exported="false"
            android:permission="android.permission.PACKAGE_USAGE_STATS" />
<service android:name=".services.AppInfoKidService"
    android:exported="false"/>
        <service
            android:name="com.example.kidapp.services.AppLimitKidService"
            android:exported="false">
        </service>
        <service android:name=".services.LocationKidService"
            android:exported="false"
            android:foregroundServiceType="location"
            android:permission="android.permission.ACCESS_FINE_LOCATION"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
<!--    android:permission="android.permission.BIND_JOB_SERVICE"-->
                  <!--РАСШИРЕННЫЙ QUERIES-->
<!--<queries>-->
<!--&lt;!&ndash; Конкретные приложения &ndash;&gt;-->
<!--<package android:name="com.whatsapp"/>-->
<!--<package android:name="com.instagram.android"/>-->
<!--<package android:name="com.facebook.katana"/>-->

<!--&lt;!&ndash; Приложения с веб-браузерами &ndash;&gt;-->
<!--<intent>-->
<!--    <action android:name="android.intent.action.VIEW"/>-->
<!--    <data android:scheme="http"/>-->
<!--</intent>-->

<!--&lt;!&ndash; Приложения с email-клиентами &ndash;&gt;-->
<!--<intent>-->
<!--    <action android:name="android.intent.action.SEND"/>-->
<!--    <data android:mimeType="message/rfc822"/>-->
<!--</intent>-->

<!--&lt;!&ndash; Приложения с поддержкой звонков &ndash;&gt;-->
<!--<intent>-->
<!--    <action android:name="android.intent.action.DIAL"/>-->
<!--    <data android:scheme="tel"/>-->
<!--</intent>-->

<!--&lt;!&ndash; Контент-провайдеры для доступа к данным (например, SMS, контакты) &ndash;&gt;-->
<!--<provider android:authorities="com.android.contacts"/>-->
<!--<provider android:authorities="com.android.providers.telephony"/>-->
<!--</queries>-->
<!--         Пермишн на все программы(опасный в плей марккет надо обосновать)-->
<!--<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"-->
<!--tools:ignore="QueryAllPackagesPermission" />-->